@tailwind base;
@tailwind components;
@tailwind utilities;

.weather {
  margin: 20px auto 0 auto;
  padding: 0 20px 20px 20px;
}

.top,
.bottom {
}

.city {
}

.weather-desc {
  //font-weight: 400;
  //font-size: 14px;
  //line-height: 2;
  //margin: 0;
  //text-transform: capitalize;
}

.icon-current-weather {
  width: 100px;
}

.temperature {
  font-weight: 600;
  font-size: 70px;
  width: auto;
  letter-spacing: -5px;
  margin: 10px 0;
}

.details {
  width: 100%;
  padding-left: 20px;
}

.section-row {
  display: flex;
  justify-content: space-between;
}

.section-name {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  text-transform: capitalize;
}

.section-result {
  text-align: right;
  font-weight: 600;
  font-size: 12px;
}
